<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <% if (topPost) { %>
                 <!-- Headline -->
                    <% include ../../elements/headline %> 
                <!-- End headline -->

                <!-- Slide featured -->
                    <% include ../../elements/slide-featured %> 
                <!-- End Slide featured -->
                <% } %>
                

                
                <!-- Latest-news -->
                    <% include ../../elements/latest-news %> 
                <!-- End Latest-news -->
                
                <!-- Ads 750x80 -->
                    <% include ../../elements/ads-750x80 %> 
                <!-- End Ads 750x80 -->
                
                <!-- Tag and Hot-News -->
                    <% include ../../elements/tag-hotnews %> 
                <!-- End Tag and Hot-News -->

                <!-- Sport News -->
                    <% include ../../elements/sport-news %> 
                <!-- End Sport News -->
            </div>
            <div class="col-xs-6 col-md-4 sidebar" id="sidebar">
                <div class="sidebar-title for-tablet">Sidebar</div>
                
                <aside>
                    <!-- Random Post -->
                    <% include ../../elements/random-post %> 
                    <!-- End Random Post -->

                </aside>

                <aside>
                    <!-- Esport -->
                    <% include ../../elements/esport %> 
                    <!-- End Esport -->
                    
                </aside>
            
                <aside id="sponsored">
                    <!-- ads 350x300 -->
                    <% include ../../elements/ads-350x300 %> 
                    <!-- End ads 350x300 -->
                </aside>
            </div>
        </div>
    </div>
</section>

<!-- Healthy  -->
    <% include ../../elements/healthy %>
<!-- Healthy  -->