<div class="block">
    <h1 class="block-title">About Us</h1>
    <div class="block-body">
        <figure class="foot-logo">
            <img src="../frontend/images/logo-light.png" class="img-responsive" alt="Logo">
        </figure>
        <p class="brand-description">
            Magz is a HTML5 &amp; CSS3 magazine template based on Bootstrap 3.
        </p>
        <a href="page.html" class="btn btn-magz white">About Us <i class="ion-ios-arrow-thin-right"></i></a>
    </div>
</div>