<li class="dropdown magz-dropdown"><a href="#">Account<i class="ion-ios-arrow-right"></i></a>
    <ul class="dropdown-menu">
        <li><a href="#"><i class="icon ion-person"></i> My Account</a></li>
        <li><a href="#"><i class="icon ion-heart"></i> Favorite</a></li>
        <li><a href="#"><i class="icon ion-key"></i> Change Password</a></li>
        <li><a href="#"><i class="icon ion-settings"></i> Settings</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon ion-log-out"></i> Logout</a></li>
    </ul>
</li>