<div class="aside-body">
    <figure class="ads">
        <a href="single.html">
          <img src="../frontend/images/ad.png">
        </a>
      <figcaption>Advertisement</figcaption>
    </figure>
</div>