<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- About Us  -->
                    <% include ./about-us %>
                <!-- End About Us  -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- Tag bottom  -->
                    <% include ./tag-bottom %>
                <!-- End Tag bottom  -->
            <div class="line"></div>
                
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- Latest News bottom -->
                    <% include ./latest-news-bottom %>
                <!-- End Latest News bottom -->
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <!-- Social Links -->
                    <% include ./social-bottom %>
                <!-- End Social Links -->
                
            </div>
        </div>
        
    </div>
</footer>