<header class="primary">
    <div class="firstbar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <% include ./logo %>				
                </div>
                <div class="col-md-6 col-sm-12">
                    <% include ./form-search %>				
                </div>
                <div class="col-md-3 col-sm-12 text-right">
                    <% include ./register-login %>				
                </div>
            </div>
        </div>
    </div>

    <!-- Start nav -->
        <% include ./nav-menu %>				
    <!-- End nav -->
</header>