<h1 class="aside-title">Random Post <a href="#" class="all"></h1>
    <div class="aside-body">
    
        <article class="article-mini">
            <div class="inner">
                <figure>
                    <a href="single.html">
                        <img src="../frontend/images/news/img06.jpg" alt="Sample Article">
                    </a>
                </figure>
                <div class="padding">
                    <h1><a href="single.html">neque est semper nulla, ac elementum risus quam a enim</a></h1>
                </div>
            </div>
        </article>
        <article class="article-mini">
            <div class="inner">
                <figure>
                    <a href="single.html">
                        <img src="../frontend/images/news/img03.jpg" alt="Sample Article">
                    </a>
                </figure>
                <div class="padding">
                    <h1><a href="single.html">Morbi vitae nisl ac mi luctus aliquet a vitae libero</a></h1>
                </div>
            </div>
        </article>
    </div>