<ul class="nav-icons">
    <li><a href="register.html"><i class="ion-person-add"></i><div>Register</div></a></li>
    <li><a href="login.html"><i class="ion-person"></i><div>Login</div></a></li>
</ul>