<div class="line transparent little"></div>
<div class="row">
    <!-- Tag -->
        <% include ./tag %> 
    <!-- End Tag -->

   <!-- Hot news -->
        <% include ./hot-news %> 
   <!-- End Hot news -->
</div>