<div class="col-md-6 col-sm-6 trending-tags">
    <h1 class="title-col">Trending Tags</h1>
    <div class="body-col">
        <ol class="tags-list">
            <li><a href="#">HTML5</a></li>
            <li><a href="#">CSS3</a></li>
            <li><a href="#">JavaScript</a></li>
            
        </ol>
    </div>
</div>
