<footer class="main-footer text-sm">
    <strong>Copyright © 2022 by Ma Van Nam.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Hotline:</b> 035 8189 356
        ||
        <b>Email:</b> namdevevlop997@gmail.com
    </div>
</footer>