<!DOCTYPE html>
<html>

	<% include ./elements/head %>
 
	<body class="skin-orange">
		
		<!-- Header -->
			<% include ./elements/header %>
		<!-- End header -->

		<!-- Content -->
			<%- body %>
		<!-- End Content -->

		<!-- Start footer -->
			<% include ./elements/footer %>
		
		<!-- End Footer -->

	<% include ./elements/scripts %>

	</body>
</html>