<%   
    errsHelper = (errs) => {
      let xhtmlErrs = '';
      
      if(errs) {
          errs.forEach((err) => {
            xhtmlErrs += `<li>${err.param.charAt(0).toUpperCase() + err.param.slice(1)}: ${err.msg.charAt(0).toUpperCase() + err.msg.slice(1)}</li>`;
          });
        }
        return `<div class="alert alert-danger" id="log_errors">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <ul>
                      ${xhtmlErrs}
                    </ul>
                </div>`;
      }
%>

