<% include textLimit%> 

<%   
    highlightHelper = (name, search) => {
      if(search.length > 0) {
        return name.replace ( new RegExp(search, 'gi'), (searchResults) =>{
          return `<span style="background-color: yellow;" class="name text-bold">${searchResults}</span>`;
        });
      }
       return textLimitHelper(name, 12);
    }
%>

