
<% include ./capitalizeFirstLetter %>  


<% 

    selectOptionsHelper = (arrOptions, name, activeOption ) => {
        let XHTMLOptions = "";
        let selected = "";
        if (arrOptions.length > 0) {
                arrOptions.forEach((item) => {
                (activeOption === item.id) ? selected = "selected" : selected = "" ;
                XHTMLOptions += `<option value="${item.id}" ${selected}> ${capitalizeFirstLetter(item.name)} </option>`;
            });
        }
        return `
        <div class="form-group row">
            <label for="form[${name}]" class="col-sm-2 col-form-label text-sm-right">${capitalizeFirstLetter(name)}</label>
            <div class="col-xs-12 col-sm-8">
                <select id="form[${name}]" name="${name}" class="custom-select custom-select-sm">
                    <option value="">- Select groups -</option>
                   ${XHTMLOptions}
                </select>
            </div>
        </div>
        `;
    }

%> 
