
<!-- <img src="images/erorr-404.jpg" alt="erorr-404.jpg" style="display:block; margin: 0 auto; width: 70%;"> -->

        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
